.question-form-body {
    margin: 20px;
    max-width: 600px;
    min-width: 550px;
    height: max-content;
}

.question-form-content {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.question-text {
    width: calc(100% - 50px);
}

.question-actions {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.question-form-answers{
    width: calc(100% - 50px);
}